.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.myNav {
  display: flex;
  background-color: #a4c6de;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}
.detail {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  text-align: left;
}
